* { margin:0; padding:0; box-sizing:border-box; }

body {
    font-family: Arial, sans-serif;
    background:#111;
    color:white;
}

.layout {
    display:flex;
    min-height:100vh;
}

/* Sidebar */
.sidebar {
    width:220px;
    background:#1e1e1e;
    padding:20px;
    display:flex;
    flex-direction:column;
}

.sidebar h2 {
    margin-bottom:20px;
    color:#00ff99;
}

.sidebar a, .sidebar button {
    margin:8px 0;
    text-decoration:none;
    color:white;
    background:none;
    border:none;
    cursor:pointer;
    text-align:left;
}

/* Main */
.main {
    flex:1;
    padding:30px;
}

.add-form {
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.add-form input, select {
    padding:10px;
    border:none;
    border-radius:6px;
}

button {
    padding:10px 15px;
    border:none;
    border-radius:6px;
    background:#00ff99;
    cursor:pointer;
}

.stats {
    display:flex;
    gap:20px;
    margin:20px 0;
}

.card {
    background:#222;
    padding:20px;
    border-radius:10px;
    flex:1;
    text-align:center;
}

.chart-box {
    background:#222;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

.habit-item {
    background:#222;
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.badge {
    background:#00ff99;
    color:black;
    padding:3px 8px;
    border-radius:5px;
    font-size:12px;
}

.actions a {
    margin-left:8px;
    text-decoration:none;
    padding:5px 8px;
    border-radius:5px;
}

.done { background:orange; color:black; }
.edit { background:blue; color:white; }
.delete { background:red; color:white; }

.auth-container {
    max-width:350px;
    margin:100px auto;
    background:#222;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

.auth-container input {
    width:100%;
    padding:10px;
    margin:10px 0;
    border:none;
    border-radius:6px;
}

/* Dark Mode */
.light-mode {
    background:#f4f4f4;
    color:black;
}

.light-mode .sidebar,
.light-mode .card,
.light-mode .habit-item,
.light-mode .chart-box,
.light-mode .auth-container {
    background:white;
    color:black;
}

/* Responsive */
@media(max-width:768px){
    .layout{flex-direction:column;}
    .sidebar{width:100%; flex-direction:row; justify-content:space-around;}
}
